<br><h3>Inventory</h3><br>
<div>
  {{data-table model=model quantity=true deleteEntry="deleteEntry"}}
</div><br>
{{!-- {{#link-to 'wish_lists' tagName='button' class="btn btn-success"}}New Entry{{/link-to}} --}}
